@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 10 10 10;
  --foreground: 237 237 237;
  --muted: 23 23 23;
  --border: 38 38 38;
  --primary: 255 255 255;
  --secondary: 163 163 163;
  --accent: 64 64 64;
}

body {
  @apply bg-background text-foreground antialiased min-h-screen;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

